count_stats.csv
camDur.csv
count_data.csv
dur_data.csv
beeCounts_filt.csv
nestCounts_filt.csv
unknownWorkers.csv
beeCounts_pooled_filt.csv
beeEarlyANDLateCounts_filt.csv
earlyBeeCounts_filt.csv
lateBeeCounts_filt.csv
nestEarlyANDLateCounts_filt.csv
nestEarlyCounts_filt.csv
nestLateCounts_filt.csv
beeEarlyCounts_filt.csv
beeLateCounts_filt.csv
noCountsBees.csv
lowCountsBees.csv
beeCounts_filtSpecTIME.csv
beeCounts_filtSpecPOOLED.csv
beeCounts_filtSpec.csv
