camDur.csv
count_time.csv
count_data.csv
obs_data.csv
count_nests.csv
count_bees.csv
count_lowBees.csv
count_nestsEarly.csv
count_nestsLate.csv
obs_bees.csv
obs_nests.csv
count_beesEarly.csv
count_beesLate.csv
count_beesLow.csv
count_beesLowEarly.csv
count_beesLowLate.csv
count_beesLowTime.csv
count_lowBeesEarly.csv
count_lowBeesLate.csv
count_lowBeesTime.csv
