camDur.csv
count_bees.csv
count_beesLow.csv
count_beesLowTime.csv
count_beesTime.csv
count_data.csv
count_nests.csv
count_nestsTime.csv
count_time.csv
obs_bees.csv
obs_nests.csv
obs_time.csv
taskShan.csv
taskShanTime.csv
prop_bees.csv
prop_beesTime.csv
nSpecialists.csv
nSpecialistsTime.csv
count_kmeans.csv
count_scaled.csv
