nSpecialists.jpg
nSpecialistsTIME.jpg
shanDist.jpg
shanDistBehav.jpg
shannon.jpg
shannonTime.jpg
shannonVSnBehavs.jpg
taskShan.jpg
taskShanTime.jpg
taskShanVSnBehavs.jpg
bodySize.jpg
eggOVARY.jpg
eggSIZE.jpg
lazyBees.jpg
lazyBeesTime.jpg
nmdsAll.jpg
nmdsOVARY.jpg
nmdsSIZE.jpg
nmdsSpec.jpg
ovarResorb.jpg
ovaryLength.jpg
ovaryResVsize.jpg
ovaryStage.jpg
ovaryVsize.jpg
nmdstime.jpg
kmeansBS.jpg
behavSpecBSov.jpg
kmeansBSov.jpg
kmeansElbow.jpg
kmeansOv.jpg
shannonBee.jpg
shannonBeeTime.jpg
taskShanPanel.jpg
