nmds_all_count.pdf
nmds_all_prop.pdf
nmds_late_SPLITbyNESTID.pdf
nmds_early_SPLITbyNESTID.pdf
nmds_all_SPLITbyNESTID.pdf
nmds_all_SPLITbyNESTtype.pdf
nmds1Distance_time.jpg
nmds2Distance_time.jpg
nmds_time.jpg
totalDistance_time.jpg
nestDOL.jpg
nestSpec.jpg
shanDist.jpg
shannonHist.jpg
shannonHistTime.jpg
