countsanalysis.csv
cleanMasterData.csv
master_data.csv
nestDEV.csv
obs_data
totalObs.csv
beeEarlyProp_data.csv
beeLateProp_data.csv
beeProp_data.csv
nestProp_data.csv
dol_data.csv
dolBeeEarly_data.csv
dolBeeLate_data.csv
dolBee_data.csv
dolEarly_data.csv
dolLate_data.csv
nestEarlyProp_data.csv
nestLateProp_data.csv
noObsBees.csv
allBees.csv
obs_data.csv
tallySwitches.csv
nataladd.csv
.DS_Store